nav > ul > li {
    display: inline;
}

nav li> a{
    text-decoration: none;
}

body{
    height: auto;
    width: 100%;
    background-image: url(/Assets/travel-images-image-8.jpg  );
}

.h2{
    text-align: center;
    font-size: 30px;
    color: rgb(53, 43, 43);
    margin-right: 500px;
    margin-left: 610px;
    margin-top: 200px;
    

}

button{
    
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
    
      }

      



      
    


